<%- include("includes/head") %>


<% if(typeof errors !== 'undefined' && errors.length > 0){  %>

  <div class="row">
    <div class="col my-3">
      <div class="alert alert-danger">
        <% errors.forEach(erro => { %>
        <%= erro %><br>
        <% }); %>
      </div>
    </div>
  </div>


<% } %>  


<% if(typeof success !== 'undefined' && success.length > 0){  %>

  <div class="row">
    <div class="col my-3">
      <div class="alert alert-success">
        <% success.forEach(x => { %>
        <%= x %><br>
        <% }); %>
      </div>
    </div>
  </div>


<% } %>  


<form method="POST" action="/user/create">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" name="senha" id="exampleInputPassword1" placeholder="Password">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<%- include("includes/footer") %>
