<%- include("includes/head") %> 

<ul class="list-group"></ul>
    <% list.forEach(user => {  %>
        <li class="list-group-item"><%= user.email %> 
            <a class="btn btn-danger" href="/user/delete/<%=  user._id %>"> Deletar </a>
        </li>
    <% }); %> 
</ul>

<%- include("includes/footer") %>