<%- include("includes/head") %>



<div class="container">
    <div class="row">
      <div class="col text-center">
        <a href="/user/create" class="btn btn-primary">Cadastrar usuário</a>
      </div>
    </div>
</div>



<%- include("includes/head") %>